body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
}

#content {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-top: 10vh;
}

.left {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: 33vw;
  padding-left: 5vw;
}

#weatherIcon {
  height: 20vh;
  width: 20vh;
}

#locationInput {
  width: 10vw;
}

.middle {
  display: flex;
  flex-wrap: wrap;
  width: 33vw;
  height: 30vh;
  justify-content: space-between;
  gap: 1vw;
}

.daily {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 6vw;
  height: 10vh;
}

.right {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 33vw;
  padding-left: 5vw;
}

#footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}
